.*
test/*_test
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.h.in~
config.sub
config.log
lib/m4/*
config/aux
configure
install-sh
ltmain.sh
missing
config.log
config.status
libtool
stamp-h1
autom4te.cache
depcomp
.libs
*.la
.deps
.dirstamp
*.lo
*.o
build-*
rpm-dist
cov_build*
*.tap
tags
core.[0-9]*
lib/libmlxdevm.spec
lib/libmlxdevm-*.tar.gz
lib/libmlxdevm-*/**
lib/debian/changelog
